name: Daily Build

on:
  schedule:
    - cron: '0 0 * * *'  # Runs every day at midnight UTC

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.head_ref }}-ubuntu-build
      cancel-in-progress: true

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: 'temurin'

      - name: Run Build
        run: ./gradlew build

      - name: Create Plugin Zip
        run: ./gradlew buildPlugin

      - name: Get version and timestamp
        run: |
          NAME=$((grep -w 'name') < gradle.properties | cut -d= -f2)
          VERSION=$((grep -w 'version') < gradle.properties | cut -d= -f2)
          echo "NAME=$NAME" >> $GITHUB_ENV
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Archive Plugin Zip
        uses: actions/upload-artifact@v3
        with:
          name: ${{ env.NAME }}-${{ env.VERSION }}
          path: build/distributions/*.zip
